.sidebar {
  background-color: white;
  width: 25rem;
  box-shadow: 0 0 1rem #ddd;
  &__logo {
    margin-bottom: 5rem;
    font-weight: bold;
    &::before {
      content: "";
      width: 8rem;
      height: 0.2rem;
      background-color: black;
      position: absolute;
      bottom: -2rem;
      transform: translate(-50%);
      left: 50%;
    }
    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      bottom: -2.9rem;
      left: 50%;
      transform: translate(-50%);
      border: 4px solid white;
    }
  }
  &__list-items:hover &__icon {
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out;
  }

  &__item {
    transition: 0.4s ease-in-out;
    margin-block: 1.6rem;
    font-size: 1.4rem;
    &:hover{
      background-color: #f6f6f6;
    }
  }

  &__icon {
    width: 1.6rem;
    margin-inline: 1rem;
  }
}

@media (max-width: 48rem) {
  .sidebar {
    width: 7.2rem;
    padding: 1rem;

    &__logo {
      font-size: 1.5rem;
      text-align: justify;
      writing-mode: vertical-rl;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }

    }
  }
}
