@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap");
.d-flex {
  display: flex; }

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.align-center {
  align-items: center; }

.d-grid {
  display: grid; }

.d-block {
  display: block; }

.gap-20 {
  gap: 2rem; }

.content {
  grid-template-columns: repeat(auto-fill, minmax(40.5rem, 1fr));
  margin-inline: 2rem; }

@media (max-width: 768px) {
  .content {
    grid-template-columns: minmax(20rem, 1fr);
    margin-inline: 1rem; }
  .d-block-mobile {
    display: block; }
  .text-center-mobile {
    text-align: center; } }

.p-20,
.m-20 {
  padding: 1.5rem; }

.mt-0 {
  margin-top: 0; }

.mt-5 {
  margin-top: 0.5rem; }

.mb-20 {
  margin-bottom: 2rem; }

.mb-10 {
  margin-bottom: 10; }

.b-radius {
  border-radius: .6rem; }

.bg-white {
  background-color: white; }

.bg-orange {
  background-color: #ff9900; }

.bg-green {
  background-color: green; }

.colo-blacl {
  color: black; }

.p-relative {
  position: relative; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.c-gray {
  color: #888; }

.bg-eee {
  background-color: #eee; }

.bg-blue {
  background-color: #0075ff; }

.bg-blue:hover {
  background-color: #0d69d5; }

.active {
  background-color: #f6f6f6; }

.w-full {
  width: 100%; }

.overflow-h {
  overflow: hidden; }

.resize {
  resize: none; }

.outline {
  outline: none; }

.fw-bold {
  font-weight: bold; }

.fs-14 {
  font-size: 1.4rem; }

@media (max-width: 768px) {
  .hide-mobile {
    display: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }

::-webkit-scrollbar {
  width: 0.8rem; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  border-radius: 15rem;
  background-color: #0075ff; }

::-webkit-scrollbar-thumb:hover {
  background-color: #0d69d5; }

.wrapper {
  background-color: #f1f1f5f9;
  min-height: 100vh; }

ul {
  padding: 0;
  list-style: none; }

input, textarea {
  outline: none;
  border: none; }

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

.heading {
  text-transform: capitalize;
  margin: 4rem 2rem;
  font-size: 2rem; }
  .heading::before, .heading::after {
    content: '';
    height: .3rem;
    position: absolute;
    bottom: -1rem;
    left: 0; }
  .heading::before {
    background-color: #fff;
    width: 12rem; }
  .heading::after {
    background-color: #000;
    width: 4rem; }

.section-title {
  font-size: 1.8rem;
  text-transform: capitalize; }

.sub-title {
  font-size: 1.2rem;
  text-transform: capitalize; }

.header__input {
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding-left: 3rem;
  width: 16rem;
  transition: width 0.3s;
  padding: .8rem 2rem;
  outline: none; }
  .header__input:focus {
    outline: 0.1rem solid #ddd;
    width: 20rem; }
  .header__input:focus::placeholder {
    opacity: 0; }

.header__search-icon {
  position: absolute;
  left: 0.9rem;
  top: 0.5rem;
  width: 1.4rem;
  color: #aaa; }

.header__notification-icon::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #f44336;
  border-radius: 50%;
  right: 8px;
  top: 0; }

.header__icon {
  vertical-align: middle;
  width: 2rem;
  color: #aaa;
  margin-inline: 1rem;
  cursor: pointer; }

.header__avatar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%; }

.sidebar {
  background-color: white;
  width: 25rem;
  box-shadow: 0 0 1rem #ddd; }
  .sidebar__logo {
    margin-bottom: 5rem;
    font-weight: bold; }
    .sidebar__logo::before {
      content: "";
      width: 8rem;
      height: 0.2rem;
      background-color: black;
      position: absolute;
      bottom: -2rem;
      transform: translate(-50%);
      left: 50%; }
    .sidebar__logo::after {
      content: "";
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      bottom: -2.9rem;
      left: 50%;
      transform: translate(-50%);
      border: 4px solid white; }
  .sidebar__list-items:hover .sidebar__icon {
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out; }
  .sidebar__item {
    transition: 0.4s ease-in-out;
    margin-block: 1.6rem;
    font-size: 1.4rem; }
    .sidebar__item:hover {
      background-color: #f6f6f6; }
  .sidebar__icon {
    width: 1.6rem;
    margin-inline: 1rem; }

@media (max-width: 48rem) {
  .sidebar {
    width: 7.2rem;
    padding: 1rem; }
    .sidebar__logo {
      font-size: 1.5rem;
      text-align: justify;
      writing-mode: vertical-rl; }
      .sidebar__logo::before {
        display: none; }
      .sidebar__logo::after {
        display: none; } }

.welcom__banner {
  width: 18rem;
  height: auto; }

.welcom__avatar {
  width: 4rem;
  margin: -2rem 2rem;
  border-radius: 50%; }
  @media (max-width: 768px) {
    .welcom__avatar {
      margin: -1rem auto; } }

.welcom__body {
  margin-top: 3rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 1.8rem; }
  .welcom__body span {
    font-size: 1.2rem; }

.welcom__body > div {
  flex: 1; }

.welcom__viste {
  padding: 0.5rem 1rem;
  width: 8rem;
  display: inline-block;
  border-radius: 0.5rem;
  color: #eee;
  text-align: center;
  font-size: 1.2rem; }
  .welcom__viste:hover {
    color: #fff; }

.quick-draft__input, .quick-draft__textarea {
  padding: 0.5rem;
  background-color: #f1f1f5f9; }

.target__target-row {
  margin-top: 2rem; }

.target__icon {
  margin-right: 1.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: .3rem; }

.target__blue-icon {
  color: #0077ff68;
  width: 2rem; }

.target__orange-icon {
  color: orangered;
  width: 2rem; }

.target__green-icon {
  color: green;
  width: 2rem; }

.target__details {
  flex: 1; }

.target__progress, .target__oranged, .target__green {
  height: 0.4rem; }

.target__progress > span,
.target__oranged > span,
.target__green > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%; }

.target__progress,
.target .blue {
  background-color: #0077ff68; }

.target__oranged,
.target .orange {
  background-color: #ff99005b; }

.target__green,
.target .green {
  background-color: #7dc511; }

.target__percent {
  position: absolute;
  bottom: 1.6rem;
  right: -2.2rem;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2rem 1rem; }
  .target__percent::after {
    content: "";
    border-color: transparent;
    border-width: 0.5rem;
    border-style: solid;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    border-top-color: #0077ff; }
