// Start Grid System
.d-flex {
  display: flex;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-wrap{
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}

.d-grid {
  display: grid;
}
.d-block{
  display: block;
}
.gap-20 {
  gap: 2rem;
}
.content {
  grid-template-columns: repeat(auto-fill, minmax(40.5rem, 1fr));
  margin-inline: 2rem;
}
@media (max-width: 768px) {
  .content {
    grid-template-columns: minmax(20rem, 1fr);
    margin-inline: 1rem;
  }
  .d-block-mobile {
    display: block;
  }
  .text-center-mobile {
    text-align: center;
  }
}
// Start Dimnation
.p-20,
.m-20 {
  padding: 1.5rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 0.5rem;
}
.mb-20{
  margin-bottom: 2rem;
}
.mb-10{
  margin-bottom: 10;
}
.b-radius {
  border-radius: .6rem;
}

// Start Color
.bg-white {
  background-color: white;
}
.bg-orange{
  background-color: rgb(255, 153, 0);
}
.bg-green{
  background-color: green;
}
.c-black {
  color: black;
}
.c-orange{
  color: orange;
}
.c-blue{
  color: blue;
}
.c-green{
  color: green;
}
.c-red{
  color: $red-color;
}
.p-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.text-right{
  text-align: right;
}
.c-gray {
  color: $gray-color;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue{
  background-color: $blue-color;
}
.bg-blue:hover{
  background-color: $blue-alt-color;

}
// Start Active classes
.active {
  background-color: #f6f6f6;
}

.w-full {
  width: 100%;
}

.overflow-h{
  overflow: hidden;
}

.resize{
  resize: none;
}
.outline{
  outline: none;
}
.fw-bold{
  font-weight: bold;
}
.fs-14{
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}
