.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.p-20,.m-20{
    padding: 20px;
}
.mt-0{
    margin-top: 0;
}
.b-radius{
    border-radius: 6px;
}
.bg-white{
    background-color: white;
}
.colo-blacl{
    color: black;
}
.p-relative{
    position: relative;
}
.text-center{
    text-align: center;
}
