.welcom{
    &__banner{
        width: 18rem;
        height: auto;
    }
    &__avatar{
        width: 4rem;
        margin: -2rem 2rem;
        border-radius: 50%;
        @media(max-width:768px){
            margin:-1rem auto;
        }
    }

    &__body{
        margin-top: 3rem;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
    }
   &__body > div{
    flex: 1;
   }

   &__viste{
    padding: .5rem 1.6rem;
    border-radius: 14px;
    color: #EEE;
    text-align: center;
    &:hover{
        color: #fff;
    }
   }
}

