.welcom {
  &__banner {
    width: 18rem;
    height: auto;
  }
  &__avatar {
    width: 4rem;
    margin: -2rem 2rem;
    border-radius: 50%;
    @media (max-width: 768px) {
      margin: -1rem auto;
    }
  }

  &__body {
    margin-top: 3rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 1.8rem;
    span {
      font-size: 1.2rem;
    }
  }
  &__body > div {
    flex: 1;
  }

  &__viste {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #eee;
    text-align: center;
    font-size: 1.2rem;
    &:hover {
      color: #fff;
    }
  }
}

.quick-draft {
  &__input,&__textarea {
    padding: 0.5rem;
    background-color: #f1f1f5f9;
  }
}
